html,body {
  height: 100%;
}
.vse {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100%;
  flex: 1 0 auto;
}
body,
footer {
  margin: 0px;
  width: 100%;
  background-color: rgba(7, 80, 52, 0.308);

}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgba(7, 80, 52, 0.308);

}

table {
  border-collapse: collapse;
  border: 3px solid grey;
  text-align: center;
}

td,
th {
  border: 1px solid grey;
  padding: 10px 15px;
}

tr.chet {
  background: rgba(55, 110, 60, 0.699);

}

tr.nechet {
  background: rgba(55, 110, 60, 0.315);

}

th {
  background: rgb(30, 105, 76);
}

header {
  background-color: rgb(30, 105, 76);
  padding: 4vw;
  height: 120px;
  width: 100vw;
  margin: 0 auto;
  flex: 0 0 auto;

}

#logo {
  float: left;
  max-width: 100%;
  height: auto;
  
}

header h1 {
  float: right;
  padding-top: 3vh;
  font-size: 5vw;
}

.shapka {
  margin: 0 auto;
  width: 100%;
}



.main,
.table,
#nav1,
.form,
footer {
  margin: 0 auto;
  width: 100%;
  background-color: rgba(18, 65, 47, 0.233);
  margin-bottom: 10px;
  padding: 10px;
  padding-top: 5px;
  padding:3vw 4vw 4vw 4vw ;
}

#nav1 {
  margin-top: 10px;
  font-size: 20px;
  clear: both;

}

#nav1 a {
  text-decoration: none;
}



#nav1 ul li {
  list-style-type: none;
}



.form {
  order: 1;
}
.table {
  order: 2;
  
}

footer {

  width: 100vw;
  height: 80px;
  background-color: rgb(11, 37, 27);
  padding-top: 0;
  color: aliceblue;
  size: 15px;
  margin-bottom: -1vw;
  order:3;
  flex: 0 0 auto;
}

#img1{
  max-width: 100%;
  height: auto;
}
#img2{
  max-width: 100%;
  height: auto;
}

@media screen and (min-device-width: 1000px) {

  .shapka {
    margin: 0 auto;
    max-width: 960px;
  }
  header{
    width: 100%;
    padding: 10px;
    padding-left: 0;
    padding-right: 0;
  }
  header h1 {
    float: none;
    font-size: 2em;
    padding: 30px;
  }
  #logo {
    padding-right: 10px;
  
    width: 100px;
    height: 100px;
  }

  #img1{
    height:300px;
    width:400px;
  }
  #img2{
    width:433px;
    height:433px;
  }
  .main,
  .table,
  #nav1,
  .form {
    max-width: 960px;
  }

  #nav1 ul {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  #nav1 ul li {
    display: inline-block;
    margin-left: 10%;
    margin-right: 10%;
  }

  
  .table {
    order: 1;
    
  }
  
  table {
    width: 600px;
  }
  .main,
.table,
#nav1,
.form,
footer {
  width: 100%;
  
  margin-bottom: 10px;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
}
footer{
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  
}
}
